<%= semantic_form_for [:modify_password, :admin_console, @admin] do |f| %>
  <%= f.inputs t('views.labels.password_info') do %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit, label: t('views.action.modify_password') %>
    <li class="cancel"><%= link_to t('views.action.cancel'), admin_console_root_path %></li>
  <% end %>
<% end %>
